body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #363636;
    font-family: 'Biryani', sans-serif;
    height: 100vh;
}

.navbar{
  height: 100%;
  width: 80px;
  position: fixed;
  float: left;
  overflow-x: hidden;
  top: 0;
  left: 0;
  /* border: black solid 2px; */

}
.elephant {
  height: 70px;
  padding-top: 10px;
  padding-left: 3px;
}
.icons {
  margin: 0;
  padding: 13px;
  list-style: none;
  top: 45%;
  position: absolute;
}
/* .icons li {
  padding: 0;
  display: block;
  border: 1px solid black;
}
.icons li a {
  display: block;
} */
.nav-icons {
  height: 35px;
  padding: 2px 2px 2px 10px;
  border-left: solid 3px transparent;
}
.nav-icons:hover {
  border-left: solid 3px #1CA3BA;
}

.small-icon {
  height: 30px;
  margin-left: 10px;
  margin-top: 17px;
}

main {
  margin-left: 80px;
  padding: 34px;
  background-color: #F5F5F5;
  height: 100%;
}
.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.balancing-header {
  height: 40px;
  padding: 5px 10px;
  /* border: 1px solid black; */
  margin-top: -7px;
  font-size: 25px;
}

article.main-article {
  float: left;
  width: 55%
  /* border: 1px solid black; */
}

section.welcome-numbers {
 /* border: 1px solid black; */
}
.welcome-header {
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 90px;
  width: 86%;
  background: linear-gradient( to right, #8ED1DC, #E3F4F6);
}
.welcome-header h3 {
  font-size: 17px;
  position: absolute;
  left: 30px;
  top: 13px;
}
.remove-btn {
  position: absolute;
  top: 15px;
  right: 17px;
  width: 11px;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.personal-account-info {
  /* border: 1px solid red; */
  display: inline-block;
  margin: 20px;
  position: relative;
  right: 19px;
  top: -5px;
  box-sizing: border-box;
  width: 100%;
}
.personal-info-left {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 20px;
  height: 48px;
  width: 140px;
  position: relative;
  background-color: white;
  border-radius: 2px;
  text-align: left;
}
.personal-info-middle {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 20px;
  margin-left: 21px;
  margin-right: 21px;
  height: 48px;
  width: 140px;
  position: relative;
  background-color: white;
  border-radius: 2px;
}
.personal-info-right {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 20px;
  margin-left: 21px;
  margin-right: 21px;
  height: 48px;
  width: 140px;
  position: relative;
  background-color: white;
  border-radius: 2px;
}

p.title-of-cell {
  position: relative;
  font-size: 10px;
  bottom: 13px;
  right: 4px;
}
p.amount-in-cell {
  position: relative;
  font-size: 20px;
  bottom: 30px;
  right: 6px;
}
section.all-accounts {
  width: 100%;
  /* border: 1px solid black; */
}
.header-two {
/* border: 1px solid black; */
}
.accounts-header
{
/* border: 1px solid black; */
}

.personal-accounts {
/* border: 1px solid black; */
}
.account-cell {
  /* border: 1px solid black; */
  display: inline-block;
  position: relative;
  width: 86%;
  height: 70px;
  margin-bottom: 10px;
  background-color: white;
}
.account {
  display: inline-block;
  align-items: left;
  /* border: 1px solid black; */
}
.middle-text {
  position: absolute;
  left: 20%;
  top:10px;
  /* border: 1px solid black; */
}
.right-text {
  position: absolute;
  left: 74%;
  top: 10px;
  /* border: 1px solid black; */
}

article.transactions {
  float: right;
  width: 45%;
  height: 78%;
  background-color: white;
  /* border: 1px solid black; */
}
.header-three {
/* border: 1px solid black; */
}
h2.recent-transactions {
/* border: 1px solid black; */
  padding: 10px 0px 0px 20px;
}

button {
background-color: #1CA3BA;
border-radius: 50px;
color: white;
border-color: #1CA3BA;
}

button.transactions-button {
  position: absolute;
  padding: 9px;
  width: 185px;
  height: 36px;
  font-size: 14px;
  right: 70px;
  top;
}
button.accounts-button {
  position: absolute;
  right: 50%;
  padding: 9px;
  width: 185px;
  height: 36px;
  font-size: 14px
}

table {
  /* border: 1px solid black; */
  table-layout: auto;
  padding: 20px;
  width:90%;
  border-collapse: collapse;
  margin: 0px 20px 20px 20px;
}
th {
  border-bottom: 1px solid #CCCCCC ;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  left: 10px;
  text-align: left;
}
td {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  left: 10px;
}
