body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.navbar{
  height: 100%;
  width: 100px;
  position: fixed;
  float: left;
  overflow-x: hidden;
  top: 0;
  left: 0;
  border: black solid 2px;

}
.elephant {
  height: 90px;
  padding-top: 10px;
  padding-left: 3px;
}
.icons {
  margin: 0;
  padding: 20px;
  list-style: none;
  top: 50%;
  position: absolute;
}
/* .icons li {
  padding: 0;
  display: block;
  border: 1px solid black;
}
.icons li a {
  display: block;
} */
.nav-icons {
  height: 50px;
}
.small-icon {
  height: 50px;
}

.main {
  margin-left: 100px;
  padding: 50px;
  border: 1px solid;
}

.balancing-header {
  height: 20px;
}

article.main-article {
  float: left;
  width: 50%
}

section.welcome-numbers {

}
.welcome-header {

}
.personal-account-info {

}
.personal-info {

}

section.all-accounts {
  width: 100%;
}
.header-two {

}
.accounts-header
{

}
button.manage-accounts {

}

.personal-accounts {

}
.account-cell {
  border: 1px solid black;
}
.account {
  display: inline-block;
  align-items: left;
}
.middle-text {
  align-items: 40%;
}
.right-text {
  align-items: 70%;
}

article.transactions {
  float: right;
  width: 50%;
}
.header-three {

}
h2.recent-transactions {

}
button.manage-accounts {

}

table
