body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.navbar{
  height: 100%; 
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border: black solid 2px;
}
.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.elephant {
  height: 50px;
}
.clip-board {
  height: 50px;
}
.transactions {
  height: 50px;
}
.profile {
  height: 50px;
}

.icons {

}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.welcome-header {
  background-color: lightblue;
  padding: 35px;
  width: 450px;
}
